.Message {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  align-content: center;
  height: 80%;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 15px;
}
