.ModalMainContainer {
  background-color: transparent;
  height: 100vh;
  width: 100vw;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  backdrop-filter: brightness(0.5);
  cursor: default;
  .ModalContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 556px;
    border-radius: 10px;
    position: relative;
    background: #fff;
    .closeBtn {
      top: 0;
      position: absolute;
      right: 0;
      border: none;
      font-size: 19px;
      border-radius: 7px;
      cursor: pointer;
      color: #d23f57;
      background: transparent;
    }
  }
}
