.Textarea {
  background-color: #353534;
  width: 100%;
  height: 96px;
  padding: 10px;
  font-size: 12px;
  color: #c2c2c2;
  font-weight: 400;
  font-family: "Montserrat";
  outline: none;
  border: none;
}
