.MuiButton-containedPrimary{
  color: black !important;
    background-color: white !important;
    font-weight: inherit !important;
}

.makeStyles-root-29{
margin-top: 10px !important;
}

.fileUploadMain{
  margin-top: 10px !important;
  margin-bottom: 10px !important;

}

#contained-button-file {
  display: none;
}