@import "~video-react/styles/scss/video-react";
.PaperCard {
  display: flex;
  padding: 7px 0px;
  .imageGallery {
    overflow: overlay !important;
  }
  .item {
    padding: 17px 10px;
    min-height: 59px;
    width: 100%;
    .MuiGrid-grid-xs-3 {
      text-align: end;
      margin: 0px;
    }
    .heading-box {
      display: flex;
      align-items: center;
      .heading {
        font-family: "Montserrat";
        font-weight: 400;
        font-size: 15px;
        cursor: pointer;
        display: flex;
        align-items: center;
      }
    }
    .rating {
      margin: 0px;
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
    .op-hours {
      display: flex;
      justify-content: flex-end;
      color: #c2c2c2;
    }
    .op-hours-padding {
      padding: 0 1vw;
    }
    .description {
      font-family: "Montserrat";
      font-size: 12px;
      color: #c2c2c2;
      font-weight: 400;
      margin: 0px;
    }
    .error {
      text-align: center;
      margin-bottom: 5px;
      font-family: "Montserrat";
      font-size: 12px !important;
      font-weight: 400;
      color: red;
    }
    .image-options {
      display: flex;
      .upload-icon {
        background-color: #353534;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        height: 70px;
        width: 77px;
        border-radius: 5px;
        margin-top: 15px;
        margin-right: 15px;
        cursor: pointer;
        position: relative;
        .icon {
          height: 20px;
          cursor: pointer;
        }
        .input-img {
          opacity: 0;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          cursor: pointer;
        }
      }
    }
    .images::-webkit-scrollbar {
      height: 5px;
    }

    .images::-webkit-scrollbar-thumb {
      background-color: #c2c2c2;
      width: 5px;
      height: 10px;
      border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;
    }
    .images {
      display: flex;
      column-gap: 10px;
      margin-top: 10px;
      overflow-x: scroll;

      .image {
        height: 70px;
        width: 70px;
        margin-right: 10px;
        margin-bottom: 5px;
        cursor: pointer;
        position: relative;
        display: inline-block;
        img {
          height: 70px;
          width: 70px;
          border-radius: 10px;
          object-fit: contain;
        }
        .remove-image {
          position: absolute;
          top: 0;
          right: 0;
          font-size: 15px;
        }
      }
    }
    .images-padding {
      padding: 0.3vw 0.8vw 0.6vw;
    }
  }
}
.imgParent {
  flex-grow: 1;
}
.loaderMargin {
  margin-left: 5px;
}
.textAreaParent {
  padding: 0.6vmax 0.6vmax 1vmax 0.6vmax;
}
img {
  &:focus {
    outline-width: 0px !important;
  }
}
.videoGallery {
  height: 80vmin !important;
  width: 100vmin !important;
  &:focus {
    outline-width: 0px;
  }
}
.MuiDialog-paper::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.MuiDialog-paper::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.MuiDialog-paper::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: inherit;
}

/* Handle on hover */
.MuiDialog-paper::-webkit-scrollbar-thumb:hover {
  background: #262626;
}
